.page {
  composes: grid from global;
  grid-template-columns: 5fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'playerArea gameInfo'
    'playerArea projectArea';
}

.info {
  grid-area: gameInfo;
}
.players {
  grid-area: playerArea;
}
.projects {
  grid-area: projectArea;
}
