.page {
  composes: grid from global;
  grid-template-columns: 5fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'players info'
    'players projects';
}

.info {
  //grid-area: info;
}
.players {
  grid-area: players;
}
.projects {
  grid-area: projects;
}
