
.title {
  grid-area: title;
}

.activeWorkers {
  grid-area: draw;
}
.deadWorkers {
  grid-area: dead;
}
.pendingWorkers  {
  grid-area: pending;
}
.discardsDeck {
  grid-area: discardsDeck;
}
.reserveBag {
  grid-area: reserveBag;
}
