.Worker {
  composes: fa-layers from global;
  composes: fa-fw from global;

  margin: var(--spacing-none);
  font-size: var(--font-size-3);
  padding-left: var(--spacing-extra-small);
  padding-right: var(--spacing-extra-small);
  font-weight: bold;
  border-radius: var(--border-radius-circle);
  text-align: center;

}

.counter {
  font-weight: bolder;
  font-size: var(--font-size-4);
  color: var(--black-80);
  composes: fa-layers-text from global;
  composes: fa-fw from global;
}

.workerGreen {
  color: var(--workerGreen);
}
.workerBlue {
  color: var(--workerBlue);
}
.workerRed {
  color: var(--workerRed);
}
.workerPurple {
  color: var(--workerPurple);
}
.counter {
  color: var(--near-white);
}

.bar {

}

.spread {
  composes: spreadFlex from global;
}

.stack {
  composes: stackedFlex from global;
}

.met {
  background-color: var(--white-50);

}

.unmet {

}
