.pane {
  display: grid;
  grid-template-rows: auto 1fr;

  & > header {
    width: 100%;
    background-color: var(--dark-purple);
    color: var(--near-white);
    padding: var(--spacing-extra-extra-small) var(--spacing-small);
    border-top-left-radius: var(--border-radius-2);
    border-top-right-radius: var(--border-radius-2);
    align-items: center;

    & > h2 {
      width: 100%;
      font-size: var(--font-size-4);
      text-align: left;
    }
  }

  & > .info {
    background-color: var(--white-20);
    height: 100%;
    width: 100%;
  }

  & > .workerBar {
    height: 100%;
    flex-direction: row;
    padding-top: var(--spacing-extra-small);
  }

  & > figure {
    margin: var(--spacing-none);
    padding: var(--spacing-none);
  }
}

.currentPlayer {
  & > header {
    color: var(--dark-purple);
    background-color: var(--near-white);
    padding: var(--spacing-small);
    & > h2 {
      font-size: var(--font-size-5);
    }
  }
}


